{% load static %}

<!-- to load images -->


<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8" />
  <title>{{title}}</title>
  <link rel="shortcut icon" type="image/x-icon" href="#">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!--bootstrap files -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!--bootstrap ends files -->
  <link rel="stylesheet" type="text/css" href="{% static "profile_page/index.css" %}" />

</head>

<body class="container-fluid">
  <div class="row head_text" style="color:red;">vinayak sharma</div>
  <header class="row">
    <nav>

      <a href='{% url "profile" %}'>home</a>
      <a href='#'>resume</a>
      <a href='{% url "contact_me" %}'>contact me</a>

    </nav>

    <!-- class="active" use this to active-->

    <!--navbar end's here-->
  </header>
   {% block start %}
  <br />
  <br />
  <br />

  <div class="row">
    <div class="col-md-4">
      <img class="img-responsive img-thumbnail img-style-css " src="{% static "profile_page/pic.png" %}" alt="pic not found" height="60%" width="50%" />
    </div>
    <br />
    <br />
    <div class="col-md-6">
      hi, everyone i am Sophomore at <b> INSTITUTE OF ENGG. & RURAL TECHNOLOGY,ALLAHABAD .</b>
      loves Programming and web development. Strong knowledge about python , django and web designing.
      A person with strong communication and interpersonal skills. Highly adaptable to new environments,
      challenges and increasing levels of responsibilities.

      <br />
      <hr />
      <br />
      <div class="contact">
        <div class="title">Objective</div>
        <a href="#" class="detail">to pursue a career in Programming , web-development and Artificial Intelligence</a>
      </div>
      <br />
      <hr />
      <br />
      <div class="contact">
        <div class="title">contact</div>
        <a href="#" class="detail"><i class="fa fa-envelope-o" style="font-size:15px"></i> email : itssvinayak@gmail.com</a>
        <a href="#" class="detail"><i class="fa fa-address-book" style="font-size:15px"></i> phone : 9259888898</a>
        <a href="https://github.com/itsvinayak" class="detail" target="_blank"><i class="fa fa-github" style="font-size:15px"></i> github : github.com/itsvinayak </a>
        <a href="https://www.linkedin.com/in/vinayak-sharma-872847168/" class="detail" target="_blank"><i class="fa fa-linkedin-square" style="font-size:15px"></i> linked-In : linkedin.com/in/vinayak-sharma-872847168/</a>
        <a href="https://twitter.com/itssvinayak" class="detail" target="_blank"><i class="fa fa-twitter-square" style="font-size:15px"></i> twitter : twitter.com/itssvinayak</a>
      </div>

      <br />
      <hr />
      <br />

      <div class="contact">

        <div class="title">Projects</div>
        <a href="https://github.com/itsvinayak/todo" class="detail"><b>todo webapp</b></a>
        &nbsp; &nbsp; &nbsp;<sub>a very basic todo app to understand how django works</sub>
        <a href="https://github.com/itsvinayak/weather" class="detail"><b>weather</b></a>
        &nbsp; &nbsp; &nbsp;<sub>python3 script to find temp,pressure and more using openweathermap.org api</sub>


      </div>


      <br />
      <hr />
      <br />

      <div class="contact">
        <div class="title">Conference/workshop</div>
        <a href="#" class="detail"><b>workshop on web scraping and python<br /></b> by computer society of india in IERT Allahabad</a>
        <a href="#" class="detail"><b>workshop on Artificial Intelligence workshop </b><br /> conducted by Technophilia Solution in IIT-BHU</a>

      </div>

      <br />
      <hr />
      <br />

      <div class="contact">
        <div class="title">Certifications</div>
        <a href="https://www.coursera.org/account/accomplishments/verify/S8E2EAHMGUP6" class="detail">Python Data Structures</a>
        <sub>Coursera, License S8E2EAHMGUP6<br />
          November 2018 – Present</sub>

        <a href="https://www.coursera.org/account/accomplishments/verify/UZTJZ7FV2VGW" class="detail">Responsive Website Basics: Code with HTML, CSS, and JavaScript</a>
        <sub>Coursera, License UZTJZ7FV2VGW<br />
          October 2018 – Present</sub>

        <a href="https://www.coursera.org/account/accomplishments/records/V9PCXRM5XJHT" class="detail">Using Python to Access Web Data</a>
        <sub>Coursera, License NC7458DF4CG8<br />
          September 2018 – Present</sub>

        <a href="https://www.coursera.org/account/accomplishments/verify/XN9CLPAC263M" class="detail">Programming for Everybody (Getting Started with Python)</a>
        <sub>Coursera, License XN9CLPAC263M<br />
          July 2018 – Present</sub>
      </div>


      <br />
      <hr />
      <br />

      <div class="contact">
        <div class="title">Computer Skill</div>
        <a href="#" class="detail">Programming Language : c/c++ , python </a>
        <a href="#" class="detail">frameworks : django</a>
        <a href="" class="detail">Library : OpenCV,numpy,pandas</a>
        <a href="" class="detail">platform : windows <i class="fa fa-windows" style="font-size:36px"></i> , linux <i class="fa fa-linux" style="font-size:36px"></i></a>
      </div>


      <br />
      <hr />
      <br />

      <div class="contact">
        <div class="title">Languages</div>
        <a href="#" class="detail">English</a>
        &nbsp; &nbsp; <sub>Professional working proficiency</sub>
        <a href="#" class="detail">Hindi</a>
        &nbsp; &nbsp; <sub>Native or bilingual proficiency</sub>
      </div>

      {% endblock %}

      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>



    </div>
  </div>




</body>

</html>
